<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.atstuding.ems.bean"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--reasonable 属性 为true时候
            When this parameter is set to true, pageNum <= 0 will query the first page,
            PageNum> pages (over the total number), will query the last page.
            -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <mappers>
<!--        <package name="com.atstuding.ems.mapper"/>-->
    </mappers>
</configuration>